/* oswald-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Oswald-ExtraLight.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* oswald-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Oswald-Bold.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* oswald-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* oswald-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Oswald-Medium.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* oswald-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Oswald-SemiBold.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* oswald-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Oswald-Bold.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/inter-v13-latin-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/inter-v13-latin-500.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/inter-v13-latin-700.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

body {
    position: relative;
    height: 100%;
    background-color: #F8F8F8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #262626;
    font-family: Oswald;
}

h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

p {
    color: #262626;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 188.889% */
}

small {
    color: #262626;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.category-tag {
    color: #279761;
}

.custom-line {
    border: #CCC 1px solid;
    margin: 30px auto;
}

.author-avatar {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 1px solid #262626;
    flex-shrink: 0;
    object-fit: cover;
}

.author-name {
    color: #262626;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.article-meta {
    color: #262626;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.fancy-heading-alt {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    flex-shrink: 0;
}

.post-content blockquote {
    color: #262626;
    font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 34px;
}

.single-featured-container {
    max-width: 100%;
    height: 482px;
}

.single-featured-container .featured-image {
    display: block;
    min-width: 100%;
    height: 482px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.sm-post-component {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.md-post-component {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.sm-post-component .content {
    width: 175px;
    line-height: 20px;
}

.md-post-component .content {
    align-self: stretch;
    color: #262626;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    line-height: 20px;
}

.post-mid-col.content {
    align-self: stretch;
    color: #262626;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    line-height: 20px;
}

/* .sm-post-component .content .metadata {
    display: inline-flex
}

.md-post-component .content .metadata {
    display: inline-flex
}

.post-mid-col .content .metadata {
    display: inline-flex;
    font-family: Oswald;
    font-weight: 700;
}

.sm-post-component .content .metadata a {
    color: #279761;
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.md-post-component .content .metadata a {
    color: #279761;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-decoration: none;
}

.post-mid-col .content .metadata a {
    color: #279761;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-decoration: none;
} */

.sm-post-component .featured-image .featured-small {
    display: inline-block;
    width: 129.6px;
    height: 87px;
    background-size: cover;
    background-repeat: no-repeat;
}

.md-post-component .featured-image .featured-mid {
    display: inline-block;
    width: 175px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}

.featured-mid-col {
    display: flex;
    height: 169px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    background-size: cover;
    background-repeat: no-repeat;
}


.sm-post-component .content .headline {
    text-decoration: none;
}

.sm-post-component .content,
.headline h3 {
    color: #262626;
    flex-shrink: 0;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: ease-in 0.2s;
}

.md-post-component .content .headline h3 {
    color: #262626;
    flex-shrink: 0;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: ease-in 0.2s;
}

.post-mid-col .content .headline h3 {
    align-self: stretch;
    color: #262626;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.md-post-component .content .headline h3 {
    color: #262626;
    flex-shrink: 0;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: ease-in 0.2s;
}

.sm-post-component .content .headline h3:hover {
    color: #F60A0A;
    cursor: pointer;
}

.md-post-component .content .headline h3:hover {
    color: #F60A0A;
    cursor: pointer;
}

.post-mid-col .headline h3:hover {
    color: #F60A0A;
    cursor: pointer;
}

.meta-divider {
    color: #262626;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 5px;
}

.post-nav {
    color: #262626;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.comment-component .comment-content .comment-name {
    color: #F60A0A;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.comment-component .comment-content .comment-time {
    color: #262626;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.comment-component .comment-content .comment-text {
    color: #262626;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    margin-top: 10px;
    letter-spacing: 0.2px;
}

.comment-component .user-avatar i {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 10px 18px;
    letter-spacing: 0.2px;
    background-color: #F60A0A;
    border-radius: 50%;
}

.comment-btn {
    color: #737373;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 50px !important;
    border: 1px solid #9B9999 !important;
    background: #FFF !important;
}


.footer-title {
    color: #F60A0A;
    font-family: Oswald;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.footer-links {
    gap: 16px;
    color: #262626;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #262626;
    cursor: pointer;
}

.footer-links a:hover {
    color: #F60A0A;
    cursor: pointer;
}



/* BOOTSTRAP FORMS OVERRIDE */

.form-control {
    display: block;
    width: 100%;
    padding: .69rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn {
    background-color: #279761;
    border-color: #279761;
    border-radius: 3px;
}

.btn:hover {
    background-color: #166841;
    border-color: #279761;
    border-radius: 3px;
}

.continue-reading {
    color: #F60A0A;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-posts {
    row-gap: 50px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    gap: 30px
}

.website-copyright {
    color: #262626;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */


/* Small devices */
@media (max-width: 365px) {
    h1 {
        width: 100%;
        font-family: Oswald;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
    }

    .author-name {
        font-family: Oswald;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .single-featured-container {
        max-width: 100%;
        height: 248px;
    }

    .trending-sidebar {
        display: none;
    }

    .fancy-heading-alt {
        margin-top: 30px;
    }

    .single-featured-container .featured-image {
        display: block;
        min-width: 100%;
        height: 248px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
    }

    .md-post-component {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }

    .md-post-component .featured-image .featured-mid {
        display: inline-block;
        width: 100%;
        height: 120px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .featured-mid-col {
        display: flex;
        height: 169px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        align-self: stretch;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .social-icons-wrapper {
        margin-top: 20px
    }

    .post-nav-wrapper .sm-post-component {
        display: none;
    }

    .user-avatar {
        margin-bottom: 20px;
    }

    .custom-heading {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .custom-heading:nth-child(odd) {
        /* visibility: hidden; */
    }

    .custom-heading h2 {
        font-weight: 700;
        font-size: 24px;
    }

    .website-copyright {
        color: #262626;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        line-height: 19.2px;
    }
    
}

/* @media (min-width: 576px) {

} */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}